#Nine{
    background-color: none;
    display: block;
}

#Ten{
    background-color: none;
    display: block;
}

#Eleven{
    background-color: none;
    display: block;
}

#Twelve{
    background-color: none;
    display: block;
}

#One{
    background-color: none;
    display: block;
}

#Two{
    background-color: none;
    display: block;
}

#Three{
    background-color: none;
    display: block;
}

#Four{
    background-color: none;
    display: block;
}

#Five{
    background-color: none;
    display: block;
}